*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

/* ========== header ========== */
.header .header-top{
    background-color: #f5f5f5;
    padding: 10px 0;
    
}